## Project Setup

In [3]:
# all import statements needed for the project, for example:
import pandas as pd
import sqlalchemy as db
import sqlite3
import os

In [4]:
# add constant
DATABASE_URL = "sqlite:///project.db"
DATABASE_SCHEMA_FILE = "schema.sql"
QUERY_DIRECTORY = "queries"

# Part 3: Understanding the Data

In [5]:
engine = db.create_engine(DATABASE_URL)

In [6]:
def write_query_to_file(query: str, query_name: str):
    # Create the directory if it does not exist
    if not os.path.exists(QUERY_DIRECTORY):
        os.makedirs(QUERY_DIRECTORY)

    # Construct the file path using the query directory and query name
    file_path = os.path.join(QUERY_DIRECTORY, f"{query_name}.sql")

    # Write the query string to the file
    with open(file_path, "w") as f:
        f.write(query)
        f.close()

## Query 1

_**TODO:** For 01-2009 through 06-2015, what hour of the day was the most popular to take a yellow taxi?_

In [9]:
QUERY_1 = """
SELECT strftime ('%H',pickup_datetime) AS HOUR,
COUNT(strftime ('%H',pickup_datetime)) AS Trip_counts
FROM taxi_trips
GROUP BY HOUR
ORDER BY Trip_counts DESC
"""

In [10]:
engine.execute(QUERY_1).fetchall()

[('19', 12300),
 ('18', 11824),
 ('20', 11497),
 ('21', 11046),
 ('22', 10898),
 ('14', 9944),
 ('23', 9732),
 ('17', 9728),
 ('12', 9727),
 ('13', 9566),
 ('15', 9282),
 ('09', 9247),
 ('11', 9130),
 ('08', 8898),
 ('10', 8861),
 ('16', 8114),
 ('00', 7867),
 ('07', 7025),
 ('01', 5477),
 ('02', 4151),
 ('06', 4083),
 ('03', 3047),
 ('04', 2236),
 ('05', 1792)]

In [11]:
write_query_to_file(QUERY_1, "most_popular_hour_taxi.sql")

## Query 2

_**TODO:** For the same time frame, what day of the week was the most popular to take an uber?_

In [13]:
QUERY_2 = '''
SELECT strftime ('%w',pickup_datetime) AS Day,
COUNT(strftime ('%w',pickup_datetime)) AS Trip_counts
FROM uber_trips
GROUP BY Day
ORDER BY Trip_counts DESC
'''

In [14]:
engine.execute(QUERY_2).fetchall()

[('5', 30166),
 ('6', 29599),
 ('4', 29338),
 ('3', 28328),
 ('2', 27526),
 ('0', 25834),
 ('1', 24681)]

In [15]:
write_query_to_file(QUERY_2, "most_popular_day_uber.sql")

## Query 3

_**TODO:** What is the 95% percentile of distance traveled for all hired trips during July 2013?_

In [33]:
QUERY_3 = """
WITH hired_trips AS (SELECT pickup_datetime, trip_distance as distance 
FROM taxi_trips 
WHERE pickup_datetime BETWEEN '2013-07-01' AND '2013-07-31'
UNION ALL
SELECT pickup_datetime, trip_distance as distance
FROM uber_trips
WHERE pickup_datetime BETWEEN '2013-07-01' AND '2013-07-31')
          
SELECT distance
FROM hired_trips
ORDER BY distance ASC
LIMIT 1

OFFSET (SELECT COUNT(*) FROM hired_trips) * 95 / 100 - 1 ;
          """

In [34]:
engine.execute(QUERY_3).fetchall()

[(9.871179738140432,)]

In [35]:
write_query_to_file(QUERY_3, "95%_distance.sql")

## Query 4

_**TODO:** What were the top 10 days with the highest number of hired rides for 2009, and what was the average distance for each day?_

In [40]:
QUERY_4 = """
SELECT strftime ('%Y-%m-%d',pickup_datetime) AS DAY,
AVG(trip_distance)
FROM uber_trips
WHERE pickup_datetime between '2009-01-01' AND '2009-12-31'
GROUP BY DAY
ORDER BY COUNT(strftime ('%Y-%m-%d',pickup_datetime)) DESC
LIMIT 10
"""

In [41]:
engine.execute(QUERY_4).fetchall()

[('2009-12-11', 2.9768262340720337),
 ('2009-10-23', 2.4532370160277575),
 ('2009-08-14', 3.5497316114127453),
 ('2009-04-18', 3.3308394224390288),
 ('2009-01-31', 2.7928274073095603),
 ('2009-07-09', 3.455500799594005),
 ('2009-05-08', 3.3122468204357984),
 ('2009-03-19', 3.2952160550196434),
 ('2009-05-16', 2.773624142420374),
 ('2009-07-23', 3.676997730363371)]

In [21]:
write_query_to_file(QUERY_4, "top_10_rides.sql")

## Query 5

_**TODO:** Which 10 days in 2014 were the windiest, and how many hired trips were made on those days?_

In [50]:
QUERY_5 ="""
SELECT date(pickup_datetime) AS date, COUNT(*) AS num
FROM (SELECT pickup_datetime FROM taxi_trips
UNION ALL
SELECT pickup_datetime FROM uber_trips)
GROUP BY date
HAVING date IN (SELECT date(DATE) FROM daily_weathers WHERE DATE BETWEEN '2014-01-01' AND '2015-01-01' ORDER BY DailyAverageWindSpeed DESC LIMIT 10)
         """

In [51]:
engine.execute(QUERY_5).fetchall()

[('2014-01-02', 125),
 ('2014-01-07', 159),
 ('2014-02-13', 132),
 ('2014-03-13', 221),
 ('2014-03-26', 185),
 ('2014-03-29', 195),
 ('2014-11-02', 148),
 ('2014-12-07', 146),
 ('2014-12-08', 162),
 ('2014-12-09', 154)]

In [52]:
write_query_to_file(QUERY_5, "windest_trips.sql")

## Query 6

_**TODO:** During Hurricane Sandy in NYC (Oct 29-30, 2012) and the week leading up to it, how many trips were taken each hour, and for each hour, how much precipitation did NYC receive and what was the sustained wind speed?_

In [70]:
QUERY_6 = """
WITH hired_trips AS 
(SELECT strftime('%Y-%m-%d %H',pickup_datetime) AS date
FROM taxi_trips
WHERE pickup_datetime BETWEEN '2012-10-22' AND '2012-11-07'
UNION ALL
SELECT strftime('%Y-%m-%d %H',pickup_datetime) AS date
FROM uber_trips
WHERE pickup_datetime BETWEEN '2012-10-22' AND '2012-11-07')

SELECT strftime('%Y-%m-%d %H',hourly_weathers.date) AS w, COALESCE(COUNT(hired_trips.date),0) AS num, HourlyPrecipitation, HourlyWindSpeed
FROM hourly_weathers
LEFT JOIN hired_trips
ON w = hired_trips.date
WHERE w BETWEEN '2012-10-22' AND '2012-11-07'
GROUP BY w
"""

In [71]:
engine.execute(QUERY_6).fetchall()

[('2012-10-22 00', 4, 0.0, 7.0),
 ('2012-10-22 01', 1, 0.0, 5.0),
 ('2012-10-22 02', 2, 0.0, 7.0),
 ('2012-10-22 03', 3, 0.0, 0.0),
 ('2012-10-22 04', 0, 0.0, 0.0),
 ('2012-10-22 05', 1, 0.0, 0.0),
 ('2012-10-22 06', 6, 0.0, 5.0),
 ('2012-10-22 07', 12, 0.0, 3.0),
 ('2012-10-22 08', 2, 0.0, 3.0),
 ('2012-10-22 09', 9, 0.0, 5.0),
 ('2012-10-22 12', 9, 0.0, 11.0),
 ('2012-10-22 14', 5, 0.0, 7.0),
 ('2012-10-22 15', 7, 0.0, 6.0),
 ('2012-10-22 16', 10, 0.0, 3.0),
 ('2012-10-22 17', 6, 0.0, 7.0),
 ('2012-10-22 18', 9, 0.0, 5.0),
 ('2012-10-22 19', 11, 0.0, 5.0),
 ('2012-10-22 20', 11, 0.0, 3.0),
 ('2012-10-22 21', 6, 0.0, 0.0),
 ('2012-10-22 22', 8, 0.0, 3.0),
 ('2012-10-22 23', 6, 0.0, 3.0),
 ('2012-10-23 00', 2, 0.0, 3.0),
 ('2012-10-23 01', 3, 0.0, 0.0),
 ('2012-10-23 02', 1, 0.0, 3.0),
 ('2012-10-23 03', 0, 0.0, 0.0),
 ('2012-10-23 04', 1, 0.0, 3.0),
 ('2012-10-23 05', 2, 0.0, 0.0),
 ('2012-10-23 06', 4, 0.0, 0.0),
 ('2012-10-23 07', 11, 0.0, 0.0),
 ('2012-10-23 08', 14, 0.0, 0.0),
 ('2012-10-23 09', 9, 0.0, 3.0),
 ('2012-10-23 10', 12, 0.0, 0.0),
 ('2012-10-23 11', 16, 0.0, 3.0),
 ('2012-10-23 12', 8, 0.0, 0.0),
 ('2012-10-23 16', 8, 0.0, 3.0),
 ('2012-10-23 18', 12, 0.0, 5.0),
 ('2012-10-23 19', 11, 0.0, 0.0),
 ('2012-10-23 20', 17, 0.02, 0.0),
 ('2012-10-23 21', 6, 0.0, 5.0),
 ('2012-10-23 22', 11, 0.01, 0.0),
 ('2012-10-23 23', 9, 0.0, 5.0),
 ('2012-10-24 00', 2, 0.0, 3.0),
 ('2012-10-24 01', 2, 0.0, 6.0),
 ('2012-10-24 02', 24, 0.0, 5.0),
 ('2012-10-24 03', 1, 0.0, 7.0),
 ('2012-10-24 04', 0, 0.0, 7.0),
 ('2012-10-24 05', 4, 0.0, 6.0),
 ('2012-10-24 06', 12, 0.0, 5.0),
 ('2012-10-24 07', 27, 0.0, 5.0),
 ('2012-10-24 08', 6, 0.0, 0.0),
 ('2012-10-24 09', 12, 0.0, 0.0),
 ('2012-10-24 10', 5, 0.0, 7.0),
 ('2012-10-24 11', 9, 0.0, 7.0),
 ('2012-10-24 12', 18, 0.0, 8.0),
 ('2012-10-24 13', 8, 0.0, 8.0),
 ('2012-10-24 14', 10, 0.0, 6.0),
 ('2012-10-24 15', 9, 0.0, 7.0),
 ('2012-10-24 16', 4, 0.0, 8.0),
 ('2012-10-24 17', 10, 0.0, 5.0),
 ('2012-10-24 18', 9, 0.0, 7.0),
 ('2012-10-24 19', 15, 0.0, 8.0),
 ('2012-10-24 20', 22, 0.0, 0.0),
 ('2012-10-24 21', 24, 0.0, 3.0),
 ('2012-10-24 22', 22, 0.0, 5.0),
 ('2012-10-24 23', 7, 0.0, 0.0),
 ('2012-10-25 00', 14, 0.0, 6.0),
 ('2012-10-25 01', 4, 0.0, 3.0),
 ('2012-10-25 02', 24, 0.0, 3.0),
 ('2012-10-25 03', 2, 0.0, 6.0),
 ('2012-10-25 04', 2, 0.0, 6.0),
 ('2012-10-25 05', 2, 0.0, 0.0),
 ('2012-10-25 06', 5, 0.0, 5.0),
 ('2012-10-25 07', 7, 0.0, 6.0),
 ('2012-10-25 08', 9, 0.0, 5.0),
 ('2012-10-25 09', 7, 0.0, 3.0),
 ('2012-10-25 10', 6, 0.0, 6.0),
 ('2012-10-25 11', 9, 0.0, 0.0),
 ('2012-10-25 12', 12, 0.0, 6.0),
 ('2012-10-25 13', 7, 0.0, 0.0),
 ('2012-10-25 14', 4, 0.0, 5.0),
 ('2012-10-25 15', 12, 0.0, 5.0),
 ('2012-10-25 16', 2, 0.0, 0.0),
 ('2012-10-25 17', 9, 0.0, 3.0),
 ('2012-10-25 18', 11, 0.0, 0.0),
 ('2012-10-25 19', 6, 0.0, 0.0),
 ('2012-10-25 20', 20, 0.0, 3.0),
 ('2012-10-25 21', 17, 0.0, 3.0),
 ('2012-10-25 22', 12, 0.0, 3.0),
 ('2012-10-25 23', 10, 0.0, 0.0),
 ('2012-10-26 00', 24, 0.0, 0.0),
 ('2012-10-26 01', 3, 0.0, 0.0),
 ('2012-10-26 02', 5, 0.0, 0.0),
 ('2012-10-26 03', 3, 0.0, 3.0),
 ('2012-10-26 04', 4, 0.0, 0.0),
 ('2012-10-26 05', 2, 0.0, 0.0),
 ('2012-10-26 06', 5, 0.0, 0.0),
 ('2012-10-26 07', 10, 0.0, 3.0),
 ('2012-10-26 08', 5, 0.0, 3.0),
 ('2012-10-26 09', 14, 0.0, 3.0),
 ('2012-10-26 10', 5, 0.0, 3.0),
 ('2012-10-26 11', 10, 0.0, 3.0),
 ('2012-10-26 12', 8, 0.0, 0.0),
 ('2012-10-26 13', 9, 0.0, 3.0),
 ('2012-10-26 14', 8, 0.0, 3.0),
 ('2012-10-26 15', 4, 0.0, 0.0),
 ('2012-10-26 16', 6, 0.0, 0.0),
 ('2012-10-26 17', 9, 0.0, 0.0),
 ('2012-10-26 18', 8, 0.0, 0.0),
 ('2012-10-26 19', 8, 0.0, 0.0),
 ('2012-10-26 20', 15, 0.0, 3.0),
 ('2012-10-26 21', 6, 0.0, 3.0),
 ('2012-10-26 22', 10, 0.0, 0.0),
 ('2012-10-26 23', 9, 0.0, 0.0),
 ('2012-10-27 00', 8, 0.0, 3.0),
 ('2012-10-27 01', 5, 0.0, 0.0),
 ('2012-10-27 02', 11, 0.0, 3.0),
 ('2012-10-27 03', 8, 0.0, 0.0),
 ('2012-10-27 04', 3, 0.0, 6.0),
 ('2012-10-27 05', 7, 0.0, 6.0),
 ('2012-10-27 06', 1, 0.0, 6.0),
 ('2012-10-27 07', 6, 0.0, 5.0),
 ('2012-10-27 08', 12, 0.0, 5.0),
 ('2012-10-27 09', 7, 0.0, 6.0),
 ('2012-10-27 10', 16, 0.0, 7.0),
 ('2012-10-27 11', 16, 0.0, 5.0),
 ('2012-10-27 12', 11, 0.0, 8.0),
 ('2012-10-27 13', 9, 0.0, 8.0),
 ('2012-10-27 14', 8, 0.0, 10.0),
 ('2012-10-27 15', 6, 0.0, 10.0),
 ('2012-10-27 16', 17, 0.0, 7.0),
 ('2012-10-27 17', 21, 0.0, 7.0),
 ('2012-10-27 18', 15, 0.0, 7.0),
 ('2012-10-27 19', 27, 0.0, 8.0),
 ('2012-10-27 20', 14, 0.0, 7.0),
 ('2012-10-27 21', 8, 0.0, 9.0),
 ('2012-10-27 22', 8, 0.0, 9.0),
 ('2012-10-27 23', 14, 0.0, 8.0),
 ('2012-10-28 00', 11, 0.0, 11.0),
 ('2012-10-28 01', 16, 0.0, 8.0),
 ('2012-10-28 02', 14, 0.0, 8.0),
 ('2012-10-28 03', 4, 0.0, 9.0),
 ('2012-10-28 04', 5, 0.0, 10.0),
 ('2012-10-28 05', 2, 0.0, 11.0),
 ('2012-10-28 06', 2, 0.0, 10.0),
 ('2012-10-28 07', 3, 0.0, 11.0),
 ('2012-10-28 08', 5, 0.0, 11.0),
 ('2012-10-28 09', 5, 0.0, 11.0),
 ('2012-10-28 10', 7, 0.0, 10.0),
 ('2012-10-28 11', 8, 0.0, 8.0),
 ('2012-10-28 12', 7, 0.0, 7.0),
 ('2012-10-28 13', 7, 0.0, 13.0),
 ('2012-10-28 14', 11, 0.0, 13.0),
 ('2012-10-28 15', 11, 0.0, 13.0),
 ('2012-10-28 16', 9, 0.0, 16.0),
 ('2012-10-28 17', 6, 0.0, 11.0),
 ('2012-10-28 18', 6, 0.0, 15.0),
 ('2012-10-28 19', 6, 0.0, 14.0),
 ('2012-10-28 20', 7, 0.0, 16.0),
 ('2012-10-28 21', 7, 0.0, 14.0),
 ('2012-10-28 22', 7, 0.0, 16.0),
 ('2012-10-28 23', 1, 0.0, 14.0),
 ('2012-10-29 00', 1, 0.0, 16.0),
 ('2012-10-29 01', 2, 0.0, 11.0),
 ('2012-10-29 02', 2, 0.0, 13.0),
 ('2012-10-29 03', 0, 0.0, 17.0),
 ('2012-10-29 04', 2, 0.0, 15.0),
 ('2012-10-29 05', 1, 0.0, 15.0),
 ('2012-10-29 06', 1, 0.02, 16.0),
 ('2012-10-29 07', 2, 0.02, 17.0),
 ('2012-10-29 08', 0, 0.0, 21.0),
 ('2012-10-29 09', 1, 0.0, 16.0),
 ('2012-10-29 11', 16, 0.0, 21.0),
 ('2012-10-29 12', 30, 0.02, 15.0),
 ('2012-10-29 13', 3, 0.02, 24.0),
 ('2012-10-29 14', 12, 0.03, 23.0),
 ('2012-10-29 15', 8, 0.07, 26.0),
 ('2012-10-29 16', 0, 0.1, 23.0),
 ('2012-10-29 17', 12, 0.04, 29.0),
 ('2012-10-29 18', 6, 0.02, 21.0),
 ('2012-10-29 19', 0, 0.01, 25.0),
 ('2012-10-29 20', 0, 0.0, 17.0),
 ('2012-10-29 21', 2, 0.0, 15.0),
 ('2012-10-29 22', 1, 0.02, 9.0),
 ('2012-10-29 23', 0, 0.03, 7.0),
 ('2012-10-30 00', 2, 0.03, 13.0),
 ('2012-10-30 01', 0, 0.0, 13.0),
 ('2012-10-30 02', 0, 0.03, 9.0),
 ('2012-10-30 03', 0, 0.04, 17.0),
 ('2012-10-30 04', 1, 0.0, 9.0),
 ('2012-10-30 05', 0, 0.01, 7.0),
 ('2012-10-30 06', 0, 0.01, 7.0),
 ('2012-10-30 07', 1, 0.0, 10.0),
 ('2012-10-30 08', 0, 0.01, 11.0),
 ('2012-10-30 09', 6, 0.01, 15.0),
 ('2012-10-30 10', 15, 0.02, 8.0),
 ('2012-10-30 11', 6, 0.0, 7.0),
 ('2012-10-30 12', 10, 0.0, 9.0),
 ('2012-10-30 13', 15, 0.0, 7.0),
 ('2012-10-30 16', 15, 0.01, 3.0),
 ('2012-10-30 17', 10, 0.0, 6.0),
 ('2012-10-30 18', 8, 0.0, 5.0),
 ('2012-10-30 19', 5, 0.0, 3.0),
 ('2012-10-30 20', 12, 0.0, 0.0),
 ('2012-10-30 21', 5, 0.0, 5.0),
 ('2012-10-30 22', 4, 0.0, 7.0),
 ('2012-10-30 23', 4, 0.0, 5.0),
 ('2012-10-31 00', 6, 0.0, 3.0),
 ('2012-10-31 01', 0, 0.01, 5.0),
 ('2012-10-31 02', 4, 0.0, 0.0),
 ('2012-10-31 03', 0, 0.0, 8.0),
 ('2012-10-31 05', 0, 0.0, 0.0),
 ('2012-10-31 06', 6, 0.0, 6.0),
 ('2012-10-31 07', 9, 0.0, 8.0),
 ('2012-10-31 08', 15, 0.0, 6.0),
 ('2012-10-31 09', 10, 0.0, 6.0),
 ('2012-10-31 10', 12, 0.0, 5.0),
 ('2012-10-31 11', 6, 0.0, 5.0),
 ('2012-10-31 12', 14, 0.0, 9.0),
 ('2012-10-31 13', 2, 0.0, 6.0),
 ('2012-10-31 14', 9, 0.0, 5.0),
 ('2012-10-31 15', 4, 0.0, 3.0),
 ('2012-10-31 16', 4, 0.0, 5.0),
 ('2012-10-31 17', 2, 0.0, 5.0),
 ('2012-10-31 18', 7, 0.0, 3.0),
 ('2012-10-31 19', 8, 0.0, 9.0),
 ('2012-10-31 20', 6, 0.0, 7.0),
 ('2012-10-31 21', 3, 0.0, 7.0),
 ('2012-10-31 22', 8, 0.0, 6.0),
 ('2012-10-31 23', 7, 0.0, 3.0),
 ('2012-11-01 00', 4, 0.0, 3.0),
 ('2012-11-01 01', 1, 0.0, 3.0),
 ('2012-11-01 02', 1, 0.0, 3.0),
 ('2012-11-01 04', 1, 0.0, 7.0),
 ('2012-11-01 05', 2, 0.0, 6.0),
 ('2012-11-01 06', 4, 0.0, 13.0),
 ('2012-11-01 08', 4, 0.0, 7.0),
 ('2012-11-01 09', 2, 0.0, 3.0),
 ('2012-11-01 10', 6, 0.0, 6.0),
 ('2012-11-01 11', 10, 0.0, 6.0),
 ('2012-11-01 12', 10, 0.0, 11.0),
 ('2012-11-01 13', 4, 0.0, 8.0),
 ('2012-11-01 14', 6, 0.0, 8.0),
 ('2012-11-01 16', 3, 0.0, 5.0),
 ('2012-11-01 17', 6, 0.0, 5.0),
 ('2012-11-01 18', 12, 0.0, 9.0),
 ('2012-11-01 19', 10, 0.0, 3.0),
 ('2012-11-01 20', 6, 0.0, 5.0),
 ('2012-11-01 21', 8, 0.0, 8.0),
 ('2012-11-01 22', 7, 0.0, 5.0),
 ('2012-11-01 23', 4, 0.0, 0.0),
 ('2012-11-02 00', 8, 0.0, 5.0),
 ('2012-11-02 01', 1, 0.0, 7.0),
 ('2012-11-02 02', 0, 0.0, 3.0),
 ('2012-11-02 03', 1, 0.0, 3.0),
 ('2012-11-02 04', 0, 0.0, 5.0),
 ('2012-11-02 05', 2, 0.0, 5.0),
 ('2012-11-02 06', 1, 0.0, 6.0),
 ('2012-11-02 08', 5, 0.0, 5.0),
 ('2012-11-02 09', 5, 0.0, 7.0),
 ('2012-11-02 10', 4, 0.0, 9.0),
 ('2012-11-02 11', 6, 0.0, 7.0),
 ('2012-11-02 12', 5, 0.0, 7.0),
 ('2012-11-02 13', 4, 0.0, 6.0),
 ('2012-11-02 14', 5, 0.0, 6.0),
 ('2012-11-02 15', 8, 0.0, 5.0),
 ('2012-11-02 16', 7, 0.0, 11.0),
 ('2012-11-02 17', 5, 0.0, 8.0),
 ('2012-11-02 18', 2, 0.0, 9.0),
 ('2012-11-02 19', 8, 0.0, 7.0),
 ('2012-11-02 20', 11, 0.0, 9.0),
 ('2012-11-02 21', 9, 0.0, 7.0),
 ('2012-11-02 22', 8, 0.0, 8.0),
 ('2012-11-02 23', 8, 0.0, 8.0),
 ('2012-11-03 00', 10, 0.0, 7.0),
 ('2012-11-03 01', 6, 0.0, 7.0),
 ('2012-11-03 02', 7, 0.0, 7.0),
 ('2012-11-03 03', 5, 0.0, 7.0),
 ('2012-11-03 04', 0, 0.0, 8.0),
 ('2012-11-03 05', 1, 0.0, 8.0),
 ('2012-11-03 06', 2, 0.0, 7.0),
 ('2012-11-03 07', 1, 0.0, 6.0),
 ('2012-11-03 08', 4, 0.0, 10.0),
 ('2012-11-03 09', 4, 0.0, 13.0),
 ('2012-11-03 10', 3, 0.0, 6.0),
 ('2012-11-03 11', 16, 0.0, 13.0),
 ('2012-11-03 12', 4, 0.0, 13.0),
 ('2012-11-03 13', 5, 0.0, 8.0),
 ('2012-11-03 14', 12, 0.0, 8.0),
 ('2012-11-03 15', 7, 0.0, 7.0),
 ('2012-11-03 16', 7, 0.0, 10.0),
 ('2012-11-03 17', 14, 0.0, 9.0),
 ('2012-11-03 18', 12, 0.0, 9.0),
 ('2012-11-03 19', 8, 0.0, 13.0),
 ('2012-11-03 20', 9, 0.0, 10.0),
 ('2012-11-03 21', 12, 0.0, 9.0),
 ('2012-11-03 22', 8, 0.0, 0.0),
 ('2012-11-03 23', 16, 0.0, 7.0),
 ('2012-11-04 00', 14, 0.0, 9.0),
 ('2012-11-04 01', 16, 0.0, 7.0),
 ('2012-11-04 02', 9, 0.0, 7.0),
 ('2012-11-04 03', 5, 0.0, 7.0),
 ('2012-11-04 04', 5, 0.0, 8.0),
 ('2012-11-04 05', 2, 0.0, 6.0),
 ('2012-11-04 06', 0, 0.0, 6.0),
 ('2012-11-04 07', 3, 0.0, 3.0),
 ('2012-11-04 08', 2, 0.0, 7.0),
 ('2012-11-04 09', 4, 0.0, 9.0),
 ('2012-11-04 11', 10, 0.0, 6.0),
 ('2012-11-04 12', 15, 0.0, 8.0),
 ('2012-11-04 13', 5, 0.0, 8.0),
 ('2012-11-04 14', 5, 0.0, 7.0),
 ('2012-11-04 15', 6, 0.0, 7.0),
 ('2012-11-04 16', 10, 0.0, 5.0),
 ('2012-11-04 17', 10, 0.0, 5.0),
 ('2012-11-04 19', 9, 0.0, 7.0),
 ('2012-11-04 21', 3, 0.0, 7.0),
 ('2012-11-04 22', 8, 0.0, 6.0),
 ('2012-11-04 23', 2, 0.0, 5.0),
 ('2012-11-05 00', 1, 0.0, 0.0),
 ('2012-11-05 01', 1, 0.0, 5.0),
 ('2012-11-05 02', 2, 0.0, 3.0),
 ('2012-11-05 03', 0, 0.0, 7.0),
 ('2012-11-05 04', 2, 0.0, 3.0),
 ('2012-11-05 05', 1, 0.0, 6.0),
 ('2012-11-05 06', 10, 0.0, 8.0),
 ('2012-11-05 07', 7, 0.0, 6.0),
 ('2012-11-05 08', 6, 0.0, 7.0),
 ('2012-11-05 09', 9, 0.0, 3.0),
 ('2012-11-05 10', 8, 0.0, 3.0),
 ('2012-11-05 11', 4, 0.0, 3.0),
 ('2012-11-05 12', 9, 0.0, 5.0),
 ('2012-11-05 13', 5, 0.0, 3.0),
 ('2012-11-05 15', 3, 0.0, 8.0),
 ('2012-11-05 17', 20, 0.0, 5.0),
 ('2012-11-05 18', 13, 0.0, 5.0),
 ('2012-11-05 19', 14, 0.0, 0.0),
 ('2012-11-05 20', 10, 0.0, 3.0),
 ('2012-11-05 21', 11, 0.0, 7.0),
 ('2012-11-05 22', 15, 0.0, 6.0),
 ('2012-11-05 23', 3, 0.0, 9.0),
 ('2012-11-06 00', 6, 0.0, 6.0),
 ('2012-11-06 01', 2, 0.0, 5.0),
 ('2012-11-06 02', 2, 0.0, 8.0),
 ('2012-11-06 03', 2, 0.0, 10.0),
 ('2012-11-06 04', 1, 0.0, 6.0),
 ('2012-11-06 05', 2, 0.0, 5.0),
 ('2012-11-06 06', 6, 0.0, 7.0),
 ('2012-11-06 07', 7, 0.0, 7.0),
 ('2012-11-06 08', 8, 0.0, 8.0),
 ('2012-11-06 09', 6, 0.0, 3.0),
 ('2012-11-06 10', 10, 0.0, 6.0),
 ('2012-11-06 11', 10, 0.0, 7.0),
 ('2012-11-06 12', 9, 0.0, 5.0),
 ('2012-11-06 13', 12, 0.0, 0.0),
 ('2012-11-06 14', 12, 0.0, 6.0),
 ('2012-11-06 15', 8, 0.0, 6.0),
 ('2012-11-06 16', 12, 0.0, 5.0),
 ('2012-11-06 17', 11, 0.0, 5.0),
 ('2012-11-06 18', 11, 0.0, 3.0),
 ('2012-11-06 19', 16, 0.0, 3.0),
 ('2012-11-06 20', 9, 0.0, 7.0),
 ('2012-11-06 21', 5, 0.0, 7.0),
 ('2012-11-06 22', 9, 0.0, 7.0),
 ('2012-11-06 23', 12, 0.0, 3.0)]

In [72]:
write_query_to_file(QUERY_6, "hurricane.sql")